<!-- ================================================================================
      Project: Front-end - Banco Capgemini 
      Version: 1.0
      Author: Carlos Adão
      Componente: Create Depósito
      Mail: jose.carlos.adao@hotmail.com
    ================================================================================-->
<template>
  <div>
    <Topo/>
    <b-row class="text-center mto">
      <b-col md="10">
        <h4>Cadastrar conta</h4>
      </b-col>
    </b-row>
    <b-col md="10" offset-md="1">
      <div class="container mto">
        <div>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group id="input-group-1" label="Nome Completo:" label-for="input-1">
              <b-form-input
                id="input-1"
                v-model="form.name"
                type="text"
                required
                placeholder="Informe o nome completo"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Seu CPF:" label-for="input-2">
              <b-form-input id="input-2" v-model="form.cpf" required placeholder="Informe CPF"></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Conta:" label-for="input-3">
              <b-form-select id="input-3" v-model="form.tipo" :options="tipos" required></b-form-select>
            </b-form-group>

            <b-row class="text-center mto">
              <b-col md="10">
                <b-button class="sbutton" variant="outline-success" type="submit">Salvar</b-button>
                <b-button class="sbutton" variant="outline-danger" type="reset">Cancelar</b-button>
              </b-col>
            </b-row>
          </b-form>
          <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
          </b-card>
        </div>
      </div>
    </b-col>
  </div>
</template>

<script>
import Topo from "../template/index";
export default {
  components: {
    Topo,
  },
  data() {
    return {
      form: {
        name: "",
        cpf: "",
        tipo: null,
      },
      tipos: [{ text: "Tipo de conta", value: null }, "corrente", "poupanca"],
      show: true,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.$store
        .dispatch("createConta", {
          cpf: this.form.cpf,
          nome: this.form.name,
          tipo: this.form.tipo
        })
        .then( response => {
          console(response[0]["result"]);
          alert("Conta Cadastrada com sucesso!!!");
          //this.loading = false
          //router.push({ name: "conta-create" });
        })
        .catch((error) => {
          console.log(error);
          //   this.loading = false
          //   this.serverError = error.response.data
          //   this.password = ''
          //   this.successMessage = ''
        });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.tipo = null;

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
<style scoped>
.mto {
  margin-top: 30px;
}
.sbutton {
  width: 40%;
  margin-right: 10px;
  margin-top: 40px;
}
</style>