<!-- ================================================================================
      Project: Front-end - Banco Capgemini 
      Version: 1.0
      Author: Carlos Adão
      Componente: Tela Home [APENA INICIADA A ESTRUTURA BÁSICA]
      Mail: jose.carlos.adao@hotmail.com
    ================================================================================-->
<template>
  <div>
    <Topo />
    <b-col md="10" offset-md="1">
      <div class="container mto">
        <div class="mto">
          <b-card-group deck>
            <b-card
              bg-variant="primary"
              text-variant="white"
              header="Conta Corrente"
              class="text-center"
            >
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>

            <b-card
              bg-variant="secondary"
              text-variant="white"
              header="Conta Poupança"
              class="text-center"
            >
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>
          </b-card-group>
        </div>
        <div class="mto">
          <b-card-group deck>
            <b-card header="Default" class="text-center">
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>
            <b-card header="Default" class="text-center">
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>
            <b-card header="Default" class="text-center">
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>
            <b-card header="Default" class="text-center">
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>
            <b-card header="Default" class="text-center">
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>
            <b-card header="Default" class="text-center">
              <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
            </b-card>
          </b-card-group>
        </div>
        <div class="mto">
          <b-card-group deck>
            <b-card
              title="Title"
              img-src="https://picsum.photos/300/300/?image=41"
              img-alt="Image"
              img-top
            >
              <b-card-text>
                This is a wider card with supporting text below as a natural lead-in to additional content.
                This content is a little bit longer.
              </b-card-text>
              <template v-slot:footer>
                <small class="text-muted">Last updated 3 mins ago</small>
              </template>
            </b-card>

            <b-card
              title="Title"
              img-src="https://picsum.photos/300/300/?image=41"
              img-alt="Image"
              img-top
            >
              <b-card-text>This card has supporting text below as a natural lead-in to additional content.</b-card-text>
              <template v-slot:footer>
                <small class="text-muted">Last updated 3 mins ago</small>
              </template>
            </b-card>

            <b-card
              title="Title"
              img-src="https://picsum.photos/300/300/?image=41"
              img-alt="Image"
              img-top
            >
              <b-card-text>
                This is a wider card with supporting text below as a natural lead-in to additional content.
                This card has even longer content than the first to show that equal height action.
              </b-card-text>
              <template v-slot:footer>
                <small class="text-muted">Last updated 3 mins ago</small>
              </template>
            </b-card>
          </b-card-group>
        </div>
      </div>
    </b-col>
  </div>
</template>

<script>
import Topo from "../template/index";

export default {
  components: {
    Topo,
  },
};
</script>
<style scoped>
.mto {
  margin-top: 30px;
}
</style>
