<!-- ================================================================================
      Project: Front-end - Banco Capgemini 
      Version: 1.0
      Author: Carlos Adão
      Componente: Create Depósito
      Mail: jose.carlos.adao@hotmail.com
    ================================================================================-->
<template>
  <div>
    <Topo />
    <b-row class="text-center mto">
      <b-col md="10">
        <h4>Depósito B. Capgemini</h4>
      </b-col>
    </b-row>
    <b-row class="text-center mto">
      <b-col md="10">
        <h7>Atenção os valores só serão compensados apartir das 22h</h7>
      </b-col>
    </b-row>
    <div>
      <b-overlay :show="load" rounded="sm">
        <b-col md="10" offset-md="1">
          <div class="container mto">
            <div>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group id="input-group-2" label="Informa número conta" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    type="text"
                    v-model="form.num_conta"
                    required
                    v-mask="'####-#'"
                    placeholder="0000-0"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3" label="Tipo Conta:" label-for="input-3">
                  <b-form-select id="input-3" v-model="form.tipo" :options="tipos" required></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-1" label="Valor depósito" label-for="input-1">
                  <b-form-input
                    id="input-1"
                    v-model.lazy="price"
                    v-money="money"
                    v-model="form.valor"
                    required
                    placeholder="Informa o valor"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Telefone contato" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    type="tel"
                    v-mask="'(##) # ####.####'"
                    v-model="form.tel"
                    required
                    placeholder="(00) 0 0000.0000"
                  ></b-form-input>
                </b-form-group>

                <b-row class="text-center mto">
                  <b-col md="10">
                    <b-button class="sbutton" variant="outline-success" type="submit">Depositar</b-button>
                    <b-button class="sbutton" variant="outline-danger" type="reset">Corrigir</b-button>
                  </b-col>
                </b-row>
              </b-form>
            </div>
          </div>
        </b-col>
      </b-overlay>
      <b-button class="mt-3" @click="load = !load">Toggle overlay</b-button>
    </div>
  </div>
</template>
<script>
import Topo from "../template/index";
export default {
  components: {
    Topo,
  },
  data() {
    return {
      money: {
        decimal: ",",
        thousands: ".",
        prefix: "R$ ",
        precision: 2,
        masked: false,
      },
      form: {
        valor: "",
        senha: "",
        tipo: null,
      },
      tipos: [{ text: "Tipo de conta", value: null }, "corrente", "poupanca"],
      show: true,
      load: false,
    };
  },
  methods: {
    //click botão depósito
    onSubmit(evt) {
      evt.preventDefault();
      this.load = true;
      this.$store
        .dispatch("createDeposito", {
          num_conta: this.form.num_conta,
          tipo: this.form.tipo,
          valor: this.form.valor,
          tel: this.form.tel,
        })
        .then((response) => {
          this.res = response.result;
          this.load = false;
          if (this.res == 1) {
            alert("Deposito realizado com sucesso!!");
            this.clearFields();
          } else {
            alert("Conta inexistente");
          }
        });
    },
    onReset(evt) {
      evt.preventDefault();
      
      this.clearFields();
      this.$nextTick(() => {
        this.show = true;
      });
    },
    //limpa os campos
    clearFields() {
      this.form.num_conta = "";
      this.form.tipo = null;
      this.form.valor = "";
      this.form.tel = "";
    },
  },
};
</script>

<style scoped>
.mto {
  margin-top: 30px;
}
.sbutton {
  width: 40%;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 100px;
}
</style>