<!-- ================================================================================
      Project: Front-end - Banco Capgemini 
      Version: 1.0
      Author: Carlos Adão
      Componente: Create Saque
      Mail: jose.carlos.adao@hotmail.com
    ================================================================================-->
<template>
  <div>
    <Topo />
    <b-row class="text-center mto">
      <b-col md="10">
        <h4>Realizar Saque</h4>
      </b-col>
    </b-row>
    <b-row class="text-center mto">
      <b-col md="10">
        <h5>Cedulas disponiveis R$10, R$20, R$100, R$200</h5>
      </b-col>
    </b-row>
    <b-overlay :show="load" rounded="sm">
      <b-col md="10" offset-md="1">
        <div class="container mto">
          <div>
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
              <b-form-group id="input-group-3" label="Tipo Conta:" label-for="input-3">
                <b-form-select id="input-3" v-model="form.tipo" :options="tipos" required></b-form-select>
              </b-form-group>

              <b-form-group id="input-group-1" label="Valor saque:" label-for="input-1">
                <b-form-input
                  id="input-1"
                  v-model.lazy="price"
                  v-money="money"
                  v-model="form.valor"
                  required
                  placeholder="Informa o valor"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-2" label="Senha:" label-for="input-2">
                <b-form-input
                  id="input-2"
                  type="password"
                  v-model="form.senha"
                  required
                  placeholder="Informe a senha"
                ></b-form-input>
              </b-form-group>

              <b-row class="text-center mto">
                <b-col md="10">
                  <b-button class="sbutton" variant="outline-success" type="submit">Sacar</b-button>
                  <b-button class="sbutton" variant="outline-danger" type="reset">Corrigir</b-button>
                </b-col>
              </b-row>
            </b-form>
          </div>
        </div>
      </b-col>
    </b-overlay>
  </div>
</template>

<script>
import Topo from "../template/index";

export default {
  components: {
    Topo,
  },
  data() {
    return {
      money: {
        decimal: ",",
        thousands: ".",
        prefix: "R$ ",
        precision: 2,
        masked: false,
        load: false,
      },
      form: {
        valor: "",
        senha: "",
        tipo: null,
      },
      tipos: [{ text: "Tipo de conta", value: null }, "corrente", "poupanca"],
      show: true,
      
    };
  },
  methods: {
    //click botão sacar
    onSubmit(evt) {
      evt.preventDefault();
      this.load = true;
      this.$store
        .dispatch("createSaque", {
          tipo: this.form.tipo,
          valor: this.form.valor,
          senha: this.form.senha,
        })
        .then((response) => {
          this.res = response.result;
          this.load = false;
          if (this.res == 1) {
            alert("Saque realizado com sucesso!!");
            this.clearFields();
          } else if(this.res == 2){
            alert("Saldo insuficielnte.");
          }else{
            alert("Falha ao realizar saque.");
          }
        });
    },

    //Click botão corrigir
    onReset(evt) {
      evt.preventDefault();
      this.clearFields();
      this.$nextTick(() => {
        this.show = true;
      });
    },

    //limpa os campos
    clearFields() {
      this.form.num_conta = "";
      this.form.tipo = null;
      this.form.valor = "";
      this.form.tel = "";
    },
  },
};
</script>
<style scoped>
.mto {
  margin-top: 30px;
}
.sbutton {
  width: 40%;
  margin-right: 10px;
  margin-top: 40px;
}
</style>