<!-- ================================================================================
      Project: Front-end - Banco Capgemini 
      Version: 1.0
      Author: Carlos Adão
      Componente: Template básico Nav bar
      Mail: jose.carlos.adao@hotmail.com
    ================================================================================-->
<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand v-on:click="openHome" href="#">B. Capgemini</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item v-on:click="openDeposito" href="#">Depósito</b-nav-item>
          <b-nav-item v-on:click="openSaque" href="#">Saque</b-nav-item>
          <b-nav-item v-on:click="openConta" href="#">Criar Conta</b-nav-item>
        </b-navbar-nav>

        <!-- Barra de pesquisa -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Pesquisar"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>

          <b-nav-item-dropdown right>
            <!-- Dropdown menu usuário -->
            <template v-slot:button-content>
              <em>Usuário</em>
            </template>
            <b-dropdown-item href="#">Minha Conta</b-dropdown-item>
            <b-dropdown-item href="#">Sair</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
  },
  methods: {
    openHome() {
      this.$router.push({ name: "login" });
    },
    openConta() {
      if (this.loggedIn) {
        this.$router.push({ name: "conta-create" });
      } else {
        this.$router.push({ name: "login" });
      }
    },
    openDeposito() {
      this.$router.push({ name: "deposito-create" });
    },
    openSaque() {
      if (this.loggedIn) {
        this.$router.push({ name: "saque-create" });
      } else {
        this.$router.push({ name: "login" });
      }
    },
  },
};
</script>