<!-- ================================================================================
      Project: Front-end - Banco Capgemini 
      Version: 1.0
      Author: Carlos Adão
      Componente: Tela login usuário
      Mail: jose.carlos.adao@hotmail.com
    ================================================================================-->

<template>
  <div
    class="fixed-top d-flex align-items-center justify-content-center"
    style="bottom: 0; overflow-y: auto"
  >
    <b-card
      title="Login"
      img-src="https://picsum.photos/600/300/?image=25"
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 20rem;"
      class="mb-2"
    >
      <b-card-text>Não forneça sua senha para estranhos. evite golpes. Campalha Banco Capgemini. Sempre ao seu lado.</b-card-text>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-1" label="Informe CPF" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.cpf"
            type="text"
            required
            placeholder="Digite aqui"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-2" label="Informe sua senha" label-for="input-2">
          <b-form-input id="input-2" type="password" v-model="form.senha" required placeholder="Digite aqui"></b-form-input>
        </b-form-group>
        <b-row class="text-center mto">
          <b-col md="10">
            <b-button class="sbutton" variant="outline-success" type="submit">Entrar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
</template>
<script>

export default {
  name: "login",
  props: {
    dataSuccessMessage: {
      type: String,
    },
  },
   data() {
    return {
      form: {
        cpf: "",
        senha: ""
      },
      show: true,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      
      this.$store
        .dispatch("loginConta", {
          email: "admim@apicapgemini.com.br",
          password:this.form.senha,
        })
        .then(() => {
          this.$router.push({ name: 'home' })
        })
        .catch((error) => {
            this.loading = false
            this.serverError = error.response.data
            this.password = ''
            this.successMessage = ''
        });
    },
  },
};
</script>
<style scoped>
.mto {
  margin-top: 30px;
}
.sbutton {
  width: 90%;
  margin-right: 10px;
  margin-top: 40px;
}
</style>